@import '../../assets/styles/mixins.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    & {
        @include responsiveLayout(1440px);
    }
}

.todo-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    color: white;
    background: linear-gradient(180deg, #7BCBD4 0%, #29C6B7 100%);

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
}

.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
